@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    margin: 0;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url(pic1.jpg);
    position: relative;
    z-index: -1;
    box-shadow: inset 600px 0px 300px rgba(0, 0, 0, 0.539);
}
.fi-sr-globe{
    z-index: 1;
    color: aliceblue;
    position: absolute;
    left: 52px;
    top: 15px;
}
 h3{
    font-size: 50px;
    font-weight: 600;
}
 p{
    font-size: 30px;
}
 small{
    font-size: 22px;
 }
nav{
    height: 90px;
    padding-top: 1rem;
    padding-left: 4rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    height: 50px;
    width: 180px;
}
.box1{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.457);
    z-index: -1;

}
input{
    height: 76px;
    width: 690px;
    padding-left: 15px;
    position: relative;
    font-size: 18px;
}
.dot{
    height: 90px;
    width: 300px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    position: absolute;
    bottom: 0;
    right: 300px;
    align-items: center;
    border: none;
    font-size: 25px;
}
.parent{
    transform: translateX(-90px);
}

.box2{
    top: 150px;
     position: relative;
    color: aliceblue;
    text-align: center;
}
.right{
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
select{
    background: transparent;
    color: aliceblue;
    border-radius: 2px;
    padding: 10px 20px;
    /* cursor: pointer; */
}
button{
    padding: 12px 25px;
    border-radius: 3px;
    background-color: red;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 4px;
    font-weight: 600;
    /* cursor: pointer; */
}
.box5{
    border: 1px solid  rgb(31, 30, 30);
    height: 7px;
    width: 100vw;
    background-color:  rgb(31, 30, 30);
}
 section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 600px;
    color: aliceblue;
}
h3{
    font-size: 70px;
}
img{
    height: 450px;
    width: 550px;
    position: relative;
    z-index: 1;
}
.video1{
    height: auto;
    width: 410px;
    position: absolute;
    top: 950px;
    right: 265px;
    overflow-y: hidden;
}
.tv{
    height: 400px;
    width: 550px;
}
.box8{
    border: 1px solid  rgb(31, 30, 30);
    height: 7px;
    width: 100vw;
    background-color:  rgb(31, 30, 30);
}
main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 500px;
    color: aliceblue;
}
.pic2{
    height: 440px;
    width: 600px;
}
.text1{
    font-size: 60px;
    font-weight: 550;
}
.box10{
    height: 120px;
    width: 370px;
    border: 2px solid  rgb(31, 30, 30);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 13px;
    position: absolute;
    z-index: 1;
    margin-right: 740px;
    margin-top: 250px;
    background-color: black;
}
.shot{
    height: 80px;
    width: 60px;
     top: 2px;
     right:  25px;
    position: relative;
}
h7{
    padding-right: 50px;
}
.box12{
    border: 1px solid  rgb(31, 30, 30);
    height: 7px;
    width: 100vw;
    background-color: rgb(31, 30, 30);
}
.box13{
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pic3{
    height: 470px;
    width: 640px;
    /* top: 140px; */
    position: relative;

}
.video2{
    height: auto;
    width: 400px;
    position: absolute;
    top: 2065px;
    right: 256px;
}
#text4{
    font-size: 60px;
    font-weight: 500;
    cursor: pointer;
}
.box16{
    border: 1px solid  rgb(31, 30, 30);
    height: 7px;
    width: 100vw;
    background-color:  rgb(31, 30, 30);
}
#text5{
    font-size: 60px;
    font-weight: 500;
}
.box17{
    height: 600px;
}
.box20{
    border: 1px solid  rgb(31, 30, 30);
    height: 7px;
    width: 100vw;
    background-color:  rgb(31, 30, 30);
}
#text6{
    font-size: 60px;
    font-weight: 500;
    
}
.box22{
    border: 1px solid  rgb(31, 30, 30);
    height: 7px;
    width: 100vw;
    background-color:  rgb(31, 30, 30);
}
footer{
    background-color: black;
    color: rgb(115, 115, 115);
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#text7{
    /* margin-top: 50px; */
    margin-left: -40rem;
    display: inline-block;

}
.foot{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 100px;
    align-items: center;
    line-height: 2rem;
    width: 60%;
    height: 60%;
}
.footing-item{
    font-size: 16px;
    
}





